@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

// colors

$pink: #e91e63;
$purple: #673ab7;
$blue: #0074d9;
$light-blue: #27cadf;
$periwinkle: #a786f5;
$light-pink: #f496b6;
$red: #bb1907;
$lime: #15ff00;
$white: #ffffff;
$black: #000000;

body {
    margin: 0 auto;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    text-transform: uppercase;
}

.container {
    width: 900px;
    align-items: center;
    text-align: center;
}

.board {
    display: flex;
    justify-content: center;
}

.tower {
    margin: 10px;
    width: 125px;
    height: 91px;
    border: 1px solid $black;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.disk {
    content: '';
	list-style: none;
	height: 20px;
    display: block;
	font-size: 0;
	&.hold {
		background-color: $lime;
	}
}

@for $i from 1 through 3 {
	.disk-#{$i} {
		width: 10px * $i * 2;
		@if $i == 1 {
			background-color: $pink;
		} @else if $i == 2 {
			background-color: $purple;
		} @else if $i == 3 {
			background-color: $blue;
	    }
    }
}