// colors

$pink: #e91e63;
$purple: #673ab7;
$blue: #0074d9;
$green: #00d974;
$yellow: #d9b800;
$orange: #d95300;
$red: #d90053;
$lime: #15ff00;
$white: #ffffff;
$black: #000000;
$grey: #eeeeee;

body {
    margin: 0 auto;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 20px 0;
}

h4 {
    text-transform: uppercase;
}

p {
    padding: 0 40px;
}

.container {
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 900px;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.towercontainer {
    display: flex;
    flex-direction: row;
}

.tower {
    margin: 20px;
    min-width: 200px;
    min-height: 175px;
    background-color: $grey;
    border-bottom: 3px solid $black;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    align-items: center;
}

button {
    align-items: center;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 9px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100px;

    &:hover {
        background-color: $black;
        color: $white;
    }
}

.panel{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 82%;
}

.button {
    align-items: center;
    margin: 0 auto;
    width: 20%;
}

.disc {
    border-radius: 3px;
    content: '';
    justify-content: center;
	list-style: none;
	height: 20px;
    display: block;
	font-size: 0;
	&.hold {
		background-color: $lime;
    }
}

@for $i from 1 through 7 {
	.disc-#{$i} {
		width: 20px * $i;
        background-color: $pink;
    }
}