@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

// colors

$pink: #e91e63;
$purple: #673ab7;
$blue: #0074d9;
$green: #00d974;
$yellow: #d9b800;
$orange: #d95300;
$red: #d90053;
$lime: #15ff00;
$white: #ffffff;
$black: #000000;

body {
    margin: 0 auto;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    text-transform: uppercase;
}

.container {
    width: 900px;
    align-items: center;
    text-align: center;
}

.board {
    display: flex;
    justify-content: center;
}

.tower {
    margin: 20px;
    min-width: 200px;
    min-height: 90px;
    border: 1px solid $black;
    display: flex;
    flex-direction: column-reverse;
}

button {
    margin: 0 auto;
    width: 100px;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 9px;
    text-transform: uppercase;
    align-items: center;

    &:hover {
        background-color: $black;
        color: $white;
    }
}

.disc {
    content: '';
    justify-content: center;
    padding: 0 0 0 -50px;
	list-style: none;
	height: 20px;
    display: block;
	font-size: 0;
	&.hold {
		background-color: $lime;
	}
}

@for $i from 1 through 7 {
	.disc-#{$i} {
		width: 30px * $i / 2;
		@if $i == 1 {
			background-color: $pink;
		} @else if $i == 2 {
			background-color: $purple;
		} @else if $i == 3 {
			background-color: $blue;
	    } @else if $i == 4 {
			background-color: $green;
	    } @else if $i == 5 {
			background-color: $yellow;
	    } @else if $i == 6 {
			background-color: $orange;
	    } @else if $i == 7 {
			background-color: $red;
	    }
    }
}