<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="../sass/main.scss")
        title Document
    body
        .container-Prime
            h1 Tower of Hanoi
            h4 Directions
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, voluptate omnis! Quaerat officia nulla iste! Similique cum, architecto, consequatur repellendus cumque eligendi numquam eveniet minus fugit pariatur molestias minima quos.
                .board
                    ul.tower#t1
                    ul.tower#t2
                    ul.tower#t3
    script(src="../js/main.js")