<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="../sass/main.scss")
        title Document
    body
        .container-Prime
            h1 Tower of Hanoi
            h4 Directions
            p Move the discs from 1 to 3, largest to smallest.
                .board
                    ul.tower#t1
                        .li.disc#disc1
                        .li.disc#disc2
                        .li.disc#disc3
                    ul.tower#t2
                    ul.tower#t3
                .row.num
                    p 1
                    p 2
                    p 3
    script(src="../js/main.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")