<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="../sass/main.scss")
        title Document
    body
        .container
            h1 Tower of Hanoi
            h4 Directions
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo nesciunt, quam magni ullam aut quas, expedita sed omnis vel labore, aliquid quibusdam atque beatae corrupti iste? Eveniet quisquam accusantium cumque.
                .board
                    ul.tower#t1
                    ul.tower#t2
                    ul.tower#t3
                .row
                    button.sub -
                    button.reset reset
                    button.add +

                //- .row
                //-     button.trigger Trigger
                //-     p.demo
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="../js/main.js")