<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="../sass/main.scss")
        title Tower of Death
    body
        .container
            h1 Tower of Hanoi
            h4 Directions
            p Without putting a larger block on top of a smaller block, move all the blocks--from largest to smallest--from the left most box to the right most box.
                .board
                    ul.tower#1
                    ul.tower#2
                    ul.tower#3
                .row
                    //- button.sub -
                    button.reset reset
                    //- button.ad +
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="../js/main.js")
    //- script(src="../js/main2.js")